.down{
    color:red;
}
.up{
    color:green
}

.watchlistItem:hover{
    background-color: #e0e0e0   !important;
}

.card {
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.145);
}

.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.145);
}