.nav-pills .nav-link.active {
  background-color: var(--bs-primary);
}

.nav-pills .nav-link {
  color: var(--bs-primary);
}

.btn-navy {
    background-color: #1E3A8A !important;
    border: none !important;
    font-size: 1.25rem !important; 
}

.btn-navy:hover {
    background-color: #274C7C !important;
}