.signup-page {
  background-color: #f8f9fa;
}

.cursor-pointer {
  cursor: pointer;
}

.animation-container {
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .card {
    border-radius: 1rem;
  }
}

.typed-cursor{
  color: white !important;
  font-size:large !important;
  line-height: inherit !important;
}

.btn-navy {
  color: white !important;
    background-color: #1E3A8A !important;
    border: none !important;
}

.btn-navy:hover {
    background-color: #274C7C !important;
}